*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #C4EBF9;
    padding: 30px 50px;
}
.header{
    height:3.5rem;
    background-color: #02BFB1;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 2rem;
}
section{
    display: flex;
    gap: 2rem;
}
.green{
    background-color: #6EDB6E;
    width: 30%;
    height: 80vh;
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange{
    background-color: #FBB04C;
    color: #fff;
    font-size: 25px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inner{
    display: flex;
    gap: 60px;
    position: relative;
    top: 120px;
  
    
}
.lorange{
    background-color: #FCD24A;
    width: 12rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article{
    position: relative;
    bottom: -110px;
}